body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#d2d7db;
    padding: 20px;
}
.container{
    width: 55%;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    margin: 30px auto;
}
h2{
    text-align: center;
    color: #0a1b3b;
}
h3{
    color:#0d3e7e;
}
.inputBox{
    width:30%;
    padding: 8px;
    margin:5px 0 15px 0;
    border-radius:6px;
    border: 1px solid #ccc;
}
select{
    text-align: center;
    width:40%;
    padding: 8px;
    margin-top:5px;
    border-radius:6px;
    border: 1px solid #ccc;
}
.submitBotton{
    text-align: center;
    color: white;
    background-color: #1e5bb8;
}
.resultbox{
    width: 55%;
    text-align: center;
    background-color: #f5f9ff;
    padding: 15px;
    border-radius:10px;
    margin: 30px auto;
}
hr{
    border:none;
    height: 1px;
    background: #ccc;
    margin: 15px 0;
}
.calcDisplay{
    width:240px;
    height:40px;
    font-size:18px;
    text-align:right;
    padding:8px;
    border-radius:6px;
}

